.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 69%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 36%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 73%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 450px !important  
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal



.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important


.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal3.png") !important




/// TEMA 1
.cala-tema1
  background-color: #BCE9F4
  padding-left: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    ul
      padding: 1.5rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: #BCE9F4
  width: 100%
  @media screen and (max-width: 1200px)
    width: 100%
  p
    padding-left: 3.5rem
.acordion__activo
  background-color: #FFE9B5
  h3
    color: $color-sistema-texto !important
  p
    padding-left: 4.4rem
.ajuste-cajaAcordion
  padding: 0rem 1rem 0rem 0rem
  ul
    padding: 0rem 2.5rem
  li
    @media screen and (max-width: 1200px)
      width: auto
.fa-arrow-alt-circle-right
  color: #2C6471



/// TEMA 2
.caja-tema2
  background-color: #E2F9EF
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  h3
    padding: 1rem 2rem 1rem 2rem
  p
    padding: 0rem 2rem 3rem 2rem
.espacio-sm
  @media screen and (max-width: 1200px)
    margin-top: 1rem !important

.estilo___ul
  li
    margin-left: 2.5rem
    margin-right: 2.5rem

.bg-1
  background-image: url("../assets/curso/tema3/img5.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.tabs-c__tab--active
  font-weight: bold
.tabs-c__content-item
  background-color: #DDF4F9
  padding: 2rem
.tabs-c
  border-bottom: none !important

.estilo___ul-1
  li
    margin-left: -1rem

.tarjeta.color-acento-botones
  background-color: #E2F9EF
  border-radius: 0rem !important
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  h4
    padding: 1rem 1.5rem !important
    color: $color-sistema-texto
  p
    padding: 0rem 1.5rem !important
    color: $color-sistema-texto
.horizontal-scroll__wrapper
  padding: 1rem 0.5rem
.fa-chevron-right
  color: $color-acento-botones
.fa-chevron-left
  color: $color-acento-botones
.estilo-text
  text-align: center
  padding: 0.3rem
.slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $color-sistema-texto
  border-radius: 50px
  padding: 0.8rem 1rem
.slyder-f__btn i:hover
  background-color: $color-acento-botones
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
  border: 1px solid white
  transition: opacity 0.3s ease-in-outbox-shadow 0.3s ease-in-out

.bg-slider
  background-image: url("../assets/curso/tema3/img15.jpg")
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem
.slyder-a__item
  padding: 4rem 3rem 1rem 4rem !important
.slyder-a__tipo-b
  padding: 0rem 2rem 2rem 2rem !important
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item 
  background-color: #FFDCA9 !important
  border: 0px
.slyder-a__bullets__item--active
  background-color: #FF9B08 !important
.slyder-a__bullets__item
  @media screen and (max-width: 768px)
    width: 10px !important
    height: 10px !important
    margin: 0.2rem
.ajuste-slider
  border-radius: 20px
  background-color: white
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4)

.bg-2
  background-image: url("../assets/curso/tema3/img20.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.tabla-a
  width: 100% !important
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  table
    border: none !important
    border-collapse: collapse
    width: auto
    min-width: 500px
    table-layout: auto
  thead
    border: none !important
    background-color: $color-acento-contenido !important
  tbody
    border: none !important
    background-color: white !important
  td
    border: none
    padding: 1rem
  th
    padding: 1.5rem
.ajuste-border-tabla
  border-right: 1px solid #E1E1E1 !important
.ajuste-color-tabla
  background-color: #F6F6F6 !important
.texto-right
  text-align: right !important
.texto-left
  text-align: left !important

.ajuste-left
  h3
    text-align: left !important
.ajuste-left
  li
    text-align: left !important

.caja-tema3
  background-color: #C7F4E0
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.caja-tema3-1
  background-color: #2C6471
  padding: 1rem 1.5rem
  border-radius: 20px
  h4
    color: white
  @media screen and (max-width: 1200px)
    padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 2rem 1.5rem
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  margin-bottom: 2rem !important
  font-style: normal !important
.tarjeta-audio
  background-color: white
  border-radius: 10px
  border: 3px solid #59CAE4 !important
  padding: 1rem 0.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio.color-acento-contenido .tarjeta-audio__input input[type=range]
  background: rgb(255, 233, 181)
  background-image: linear-gradient(#FF9B08, #FF9B08)
.audio__btn
  background-color: $color-acento-contenido !important

.titles___box_cuarto_nivel
  background-color: #59CAE4
  border-radius: 5px
  display: inline-flex
  padding: 0.3rem 2rem

.video
  iframe
    border-radius: 10px !important



/// TEMA 4
.caja-tema4
  background-color: #C7F4E0
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem